   #aee li a{
                                        text-decoration: none;
                                        color: black;
                                    }
                                    #aee li{
                                        display: inline-block;
                                        margin-right: 5px;
                                        list-style: none;
                                        position: relative;
                                        
                                        margin-left:0px;
                                        text-align: center;
                                        width:19%;
                                    }
                                    #aee{
                                        background-color: red;
                                        background-attachment: fixed;
                                        padding: 0;
                                        margin: 0;
                                        font-family: Verdana;
                                        border-style:ridge;
                                        border-width:5px;
                                        border-color:violet;
                                        transition: 0.5s all;
                                        height: 19px;
                                        vertical-align: center; 
                                        width:calc(100%-1);
                                    }
                                    #aee li ul li{
                                        list-style: none;
                                        position: absolute;
                                        margin-left:100px;  
                                        vertical-align: center; 
                                        visibility: hidden; 
                                      align:center;
                                    }
                                    #aee li ul li{
                                        float: left;
                                        text-align: left;
                                        
                                    }
                                    #aee li:hover ul li{
                                        visibility: visible;
                                        opacity:1;
                                        transition: .3s all;
                                        position:relative;
                                        font-family: Verdana;
                                        border-style:ridge;
                                        border-width:5px;
                                        border-color:violet;
                                        display:block;
                                        width:250px;
                                        background-color: red;
                                        transform: translateX(-80px);
                                       
                                    }
                                    #aee li ul li:hover{
                                    background-color: aqua;
                                    transition:.5s all;}
#be{
color:white;
background-color:brown;
font-size:1.7em;
}
header{
    font-size: 3em;
    color:blue;
    width:500px;
}
header:hover{
    background-color: aqua;
}
                                    
.p1,.p2,.p3,.p4,.p5,.p6,.p7,.p8,.p9:hover{
size:55px;
background-color: aqua;
    transition:.5s all;
}
                                body{
                                    background-image: url("poison.jpg");
                                    background-size:100%;
                                    background-position:fixed;
                                }
                                h1,h3{
                                    background-color: beige;
                                    width:400px;
                                }
footer{
    position:absolute;
    bottom:0;
    color:blue;
    font-size:1.5em;
    text-align:center;
    width:1300px;
background-color:grey;
}
