   
                                    #aee li a{
                                        text-decoration: none;
                                        color: black;
                                    }
                                    #aee li{
                                        display: inline-block;
                                        margin-right: 5px;
                                        list-style: none;
                                        position: relative;
                                        vertical-align:top;
                                        margin-left:0px;
                                        text-align: center;
                                        width:19%;
                                    }
                                    #aee{
                                        background-color: red;
                                        background-attachment: fixed;
                                        padding: 0;
                                        margin: 0;
                                        font-family: Verdana;
                                        border-style:ridge;
                                        border-width:5px;
                                        border-color:violet;
                                        transition: 0.5s all;
                                        height: 19px;
                                        vertical-align: center; 
                                        width:calc(100%-1);
                                    }
                                    #aee li ul li{
                                        list-style: none;
                                        position: absolute;
                                        margin-left:100px;  
                                        vertical-align: center; 
                                        visibility: hidden; 
                                      text-align:center;
                                    }
                                   
                                    #aee li:hover ul li{
                                        visibility: visible;
                                        opacity:1;
                                        transition: .3s all;
                                        position:relative;
                                        font-family: Verdana;
                                        border-style:ridge;
                                        border-width:5px;
                                        border-color:violet;
                                        display:block;
                                        width:250px;
                                        background-color: red;
                                        transform: translateX(-80px);
                                       text-align:center;
                                       
                                    }
                                    #aee li ul li:hover{
                                    background-color: aqua;
                                    transition:.5s all;}                                   
                                    
.txt ol li{
    list-style: none;
    border-radius:10px;
    border-width:30px;
    border-style:ridge;
    border-color:rgb(250, 50, 50);
    width:350px;
    vertical-align:top;
}
.txt ol li ul li{
    list-style: none;
    border-radius:10px;
    border-width:3px;
    border-style:solid;
    border-color:rgb(38, 38, 136);
    width:300px;
}
.txt ol li ul{
    list-style: none;
    border-radius:10px;
}
.txt ol li{
    display:inline-block;
}
.txt ol li ul li{
    background-color: aquamarine;
color:rgb(255, 0, 0) 
}
#be{
color:white;
background-color:brown;
font-size:1.7em;
}
header{
    font-size: 3em;
    color:blue;
    width:500px;
}
header:hover{
    background-color: aqua;
}
.song{
width:34%;
margin-right:33%;
margin-left:34%;
border-style:solid;
border-color:red;
border-width:10px;
border-radius:10px;

}
.p1:hover,.p2:hover,.p3:hover,.p4:hover,.p5:hover,.p6:hover,.p7:hover,.p8:hover,.p9:hover{
size:55px;
background-color: aqua;
transition: 1s all;
}
                               
                               
                                   h1,h3{
                                   background-color: beige;
                                   width:100%;
                                   text-align:center;
                                        }
#all{position: relative;
  min-height: 100vh;
}
footer{
    position:relative;
    bottom:0;
    color:blue;
    font-size:1.5em;
    text-align:center;
    width:1300px;
   height:50px;
background-color:grey;
}
.txt{
    margin-top:20px;
    margin-bottom:20px;
    font-size:1.5em;
  background-color:beige;
   border-left-width:25px;
   border-left-color:red;
   text-align:center;
}


                                body{
                                    background-image: url("p6bg.jpg");
                                    background-size:100%;
                                    background-position:fixed;
                                }
